<section id="projects" class="section">
  <div id="projects-container" class="centered section-container">
    <h1 class="section-header">Gallery</h1>
    <div id="projects-display" class="scrolling-container snaps-inline">
      {{- range site.Params.itemDisplays -}}
        <div class="card interactable">
          <a
            href="{{ .url | safeURL }}"
            target="_blank"
            rel="noopener noreferrer me"
            title="{{ .title }}"
          >
            <h2>{{ .name }}</h2>
            <img src = "{{.description}}", class="section-article">
            </img>
          </a>
        </div>
      {{- end -}}
    </div>
  </div>
</section>
